#                                       DIWALI SALES ANALYSIS

## Importing Libraries & Data:

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

In [ ]:
df = pd.read_csv('Data.csv',encoding='latin1')
df.head()

## Data Cleaning & Pre Processing:

In [ ]:
df.shape

In [ ]:
df.info()

In [ ]:
df.drop({"Status",'unnamed1'},axis = 1,inplace=True)

In [ ]:
df.head()

In [ ]:
df.isna().sum()

In [ ]:
df.dropna(inplace = True)

In [ ]:
df.shape

In [ ]:
df["Amount"] = df["Amount"].astype("int")

In [ ]:
df["Amount"].dtype

In [ ]:
df[["Age","Orders","Amount"]].describe().astype('int')

## Exploratory Data Analysis:

In [ ]:
df.columns

### Gender:

In [ ]:
ax = sns.countplot(x = "Gender",data=df)

for bars in ax.containers:
    ax.bar_label(bars)

In [ ]:
df1 = df.groupby(["Gender"], as_index=False)["Amount"].sum().sort_values(by="Amount",ascending = False)
sns.barplot(x = "Gender", y = "Amount",data = df1)

#### From above visualization we can extract that Females are most buyers and their purchasing power is also greater than man.

### Age Group:

In [ ]:
ax1 = sns.countplot(x = "Age Group",data=df,hue = "Gender")

for bars in ax1.containers:
    ax1.bar_label(bars)

In [ ]:
df2 = df.groupby(["Age Group"], as_index=False)["Amount"].sum().sort_values(by="Amount",ascending = False)
sns.barplot(x = "Age Group", y = "Amount",data = df2)

#### From Above visualization we can infere that the Female buyers of age group 26-35 are most buyers.

### State:

In [ ]:
df3 = df.groupby(["State"], as_index=False)["Orders"].sum().sort_values(by="Orders",ascending = False).head(10)

sns.set(style="whitegrid")
plt.figure(figsize=(16, 5))
sns.barplot(x = "State", y = "Orders",data = df3)

In [ ]:
df4 = df.groupby(["State"], as_index=False)["Amount"].sum().sort_values(by="Amount",ascending = False).head(10)

sns.set(style="whitegrid")
plt.figure(figsize=(16, 5))
sns.barplot(x = "State", y = "Amount",data = df4)

#### Above Visualizations shows that Uttar Pradesh State, Maharashtra, Karnatka have more orders and Buying power respectively.

## Marital_Status:

In [ ]:
ax3 = sns.countplot(x = "Marital_Status",data=df)

plt.figure(figsize=(7, 5))
for bars in ax3.containers:
    ax3.bar_label(bars)

In [ ]:
df5 = df.groupby(["Marital_Status","Gender"], as_index=False)["Amount"].sum().sort_values(by="Amount",ascending = False).head(10)

# sns.set(style="whitegrid")
# plt.figure(figsize=(16, 5))
sns.barplot(x = "Marital_Status", y = "Amount",hue = "Gender",data = df5)

#### Above Visualization infere that most Married womens are the buyers in diwali sales.

## Occupation:

In [ ]:
sns.set(rc={"figure.figsize":(20,5)})
ax4 = sns.countplot(x = "Occupation",data=df)
for bars in ax4.containers:
    ax4.bar_label(bars)

In [ ]:
df6 = df.groupby(["Occupation"], as_index=False)["Amount"].sum().sort_values(by="Amount",ascending = False).head(10)

sns.barplot(x = "Occupation", y = "Amount",data = df6)

#### This above visualization shows that the IT sector, Health Care and Aviation employees have more diwali shopping respectively than other occupation people.

## Product Category:

In [ ]:
plt.figure(figsize=(22, 6))
ax4 = sns.countplot(x = "Product_Category",data=df)
for bars in ax4.containers:
    ax4.bar_label(bars)

In [ ]:
plt.figure(figsize=(20, 6))
df7 = df.groupby(["Product_Category"], as_index=False)["Amount"].sum().sort_values(by="Amount",ascending = False).head(10)

sns.barplot(x = "Product_Category", y = "Amount",data = df7)

#### The most product item purchased in diwali are Food items.